/*  1. Correct the line height in all browsers.
    2. Prevent adjustments of font size after orientation changes in iOS.*/ 
html {
line-height: 1.15; /* 1 */
-webkit-text-size-adjust: 100%; /* 2 */
}

/*Remove margins and paddings by default*/
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* set a minimum height of 100% of the viewport for the html and body elements */
/* html, body {
    min-height: 100vh;
} */

html{
    background-color: #f0f0f0;
}

/*Define a default family of web content*/
body {
    width: 70%;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-top: 20px;
}

header h1{
    text-transform: uppercase;
    color: #e41717;
    font-size: 2em;
    text-align: center;
    border-bottom: 2px solid #e41717;

}

/*CSS per als botons de navegació*/
.menu{
    margin-top: 15px;
}

.botons{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 100%;
    border-bottom: 2px solid #e41717;
    padding-bottom: 15px;
}

.botons button {
    margin-right: 30px;
    background-color: #ffffff;
    font-size: 15px;
    font-weight:500;
    text-transform: uppercase;
    color: #000000;
    border: 2px solid blue;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.botons button:hover {
    background-color: blue;
    color:white;
}

.informacio{
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    padding-top: 20px;
    justify-content: space-between;
}

.informacio h2{
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.informacio p{
    font-size: 0.8em;
    margin-bottom: 5px;
}

/*CSS per al formulari de configuració d'usuari i de tiupus de calculadora*/
.configuracio {
    width: 300px;
}

.configuracio input, .configuracio select {
    width: 100%;
    margin: 0;
}

.configuracio h3{
    font-size: 0.8em;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.configuracio label{
    font-size: 0.8em;
    margin: 0;
}

/*CSS per al contenidor de la calculadora i els seus inputs i botons*/
.contenidor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
}

/*CSS calculadores*/
.calculadoraNormal, .calculadoraDecimals{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #ff7700;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.434);
    margin-bottom: 20px;
}

.pantalles {
    margin-bottom: 10px;
    width: 100%;
}

.pantalles input {
    width: 100%;
    padding: 15px;
    font-size: 2em;
    text-align: right;
    border: 2px solid #a39696;
    border-radius: 5px;
    margin-bottom: 5px;
}

.filesBotons {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
}

.fila{
    display: flex;
    gap: 10px;
    width: 100%;

}

.fila button {
    flex: 1;
    padding: 15px;
    font-size:2em;
    border: none;
    border-radius: 10px;
    background-color: #ff7700;
    color: white;
    cursor: pointer;
}

.fila button:hover {
    background-color: white;
    color:#ff7700;
    border: 2px solid #ff7700;
}

.fila5{
    display: flex;
    gap:10px;
    width: 100%;
}

.fila5 button {
    flex: 1;
    padding: 15px;
    font-size:2em;
    border: none;
    border-radius: 10px;
    background-color: #ff7700;
    color: white;
    cursor: pointer;
}

.fila5 button:hover {
    background-color: white;
    color:#ff7700;
    border: 2px solid #ff7700;
}
