/*  1. Correct the line height in all browsers.
    2. Prevent adjustments of font size after orientation changes in iOS.*/ 
html {
line-height: 1.15; /* 1 */
-webkit-text-size-adjust: 100%; /* 2 */
}

/*Remove margins and paddings by default*/
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* set a minimum height of 100% of the viewport for the html and body elements */
html, body {
    min-height: 100vh;
}

html{
    background-color: #f0f0f0;
}

/*Define a default family of web content*/
body {
    width: 70%;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
    background-color: #ffffff;
    color: #333;
}

header{
    text-align: center;
}

h1{
    padding-top: 50px;
    text-transform: uppercase;
    color: #e41717;
    font-size: 1.5em;
    text-align: center;
    border-bottom: 2px solid #e41717;
}

/*CSS per als botons de navegació*/
.menu{
    margin-top: 15px;
    text-align: left;
    padding-left: 50px;
}

.menu button {
    background-color: #ffffff;
    font-size: 15px;
    font-weight:500;
    text-transform: uppercase;
    color: #000000;
    border: 2px solid blue;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.menu button:hover {
    background-color: blue;
    color:white;
}

/*CSS per al contenidor de la calculadora i els seus inputs i botons*/
.calculadora {
    width: 300px;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}